<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>销项发票明细</title>

  <!--dynamic table-->
  <link href="js/advanced-datatable/css/demo_page.css" rel="stylesheet" />
  <link href="js/advanced-datatable/css/demo_table.css" rel="stylesheet" />
  <link rel="stylesheet" href="js/data-tables/DT_bootstrap.css" />


    <div th:include="common::common-header"></div>
</head>

<body class="sticky-header">

<section>
    <div th:replace="common::common-leftmenu"></div>
    
    <!-- main content start-->
    <div class="main-content" >

        <div th:replace="common::common-headermenu"></div>

        <!-- page heading start-->
        <div class="page-heading">
            <!--<h3>
                销售合同信息
            </h3>-->
            <ul class="breadcrumb">
                <li>
                    <a href="#">销售模块</a>
                </li>
                <li class="active"> 销项发票明细 </li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
        <div class="row">
        <div class="col-sm-12">
        <section class="panel">
        <div class="panel-body">
        <div class="adv-table" style="overflow: auto">
        <div class="clearfix">
            <div class="btn-group">
                <a href="#salesContractModal" data-toggle="modal" class="btn btn-xs btn-success" th:data-method="insert" th:if="${session.loginUser.department} == 'caiwu'">
                    新增 <i class="fa fa-plus"></i>
                </a>
            </div>
        </div>
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="salesContractModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        <h4 class="modal-title">销项发票明细</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" id="contract-form">
                            <input type="hidden" class="form-control" id="id" name="id">
                            <div class="form-group">
                                <label for="contractNo" class="col-lg-2 col-sm-2 control-label">合同号</label>
                                <div class="col-lg-10">
                                    <input class="form-control m-bot15" id="contractNo" name="contractNo">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="projectName" class="col-lg-2 col-sm-2 control-label">项目名称</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="projectName" name="projectName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="company" class="col-lg-2 col-sm-2 control-label">所属区域</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="company" name="company">
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="invoiceDate" class="col-lg-2 col-sm-2 control-label">发票开票日期</label>
                                <div class="col-sm-10">
                                    <input type="date" class="form-control" id="invoiceDate" name="invoiceDate">
                                </div>
                            </div>
                            <!--<div class="form-group">
                                <label for="invoiceCode" class="col-lg-2 col-sm-2 control-label">发票代码</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="invoiceCode" name="invoiceCode">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="invoiceNo" class="col-lg-2 col-sm-2 control-label">发票号码</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="invoiceNo" name="invoiceNo">
                                </div>
                            </div>-->
                            <div class="form-group">
                                <label for="companyName" class="col-lg-2 col-sm-2 control-label">单位名称</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="companyName" name="companyName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="noTaxAmount" class="col-lg-2 col-sm-2 control-label">不含税价</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="noTaxAmount" name="noTaxAmount" placeholder="请输入数字金额">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="taxAmount" class="col-lg-2 col-sm-2 control-label">税额</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="taxAmount" name="taxAmount" placeholder="请输入数字金额">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="amountTotal" class="col-lg-2 col-sm-2 control-label">价税合计</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="amountTotal" name="amountTotal">
                                </div>
                            </div>
                            <!--<div class="form-group">
                                <label for="content" class="col-lg-2 col-sm-2 control-label">开票内容</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="content" name="content">
                                </div>
                            </div>-->
                            <div class="form-group">
                                <label for="managerName" class="col-lg-2 col-sm-2 control-label">经办人</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="managerName" name="managerName">
                                </div>
                            </div>
                            <div class="form-group" id="rejectionContentDiv">
                                <label for="rejectionContent" class="col-lg-2 col-sm-2 control-label">驳回原因</label>
                                <div class="col-lg-10">
                                    <textarea rows="6" class="form-control" id="rejectionContent" name="rejectionContent"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10" id="saveDiv">
                                    <a href="#" class="btn btn-primary"  id="button-save">保存</a>
                                    <a href="#" class="btn btn-primary"  id="button-submit">提交审核</a>
                                </div>
                                <div class="col-lg-offset-2 col-lg-10" id="checkDiv">
                                    <a href="#" class="btn btn-primary" id="button-approved">通过</a>
                                    <a href="#" class="btn btn-primary" id="button-reject">驳回</a>
                                </div>
                                <div class="col-lg-offset-2 col-lg-10" id="rollbackDiv">
                                    <a href="#" class="btn btn-primary" id="button-rollback">取消审核</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <table  class="display table table-bordered table-striped" id="dynamic-table">
        <thead>
        <tr>
            <th>项目编号</th>
            <th>项目名称</th>
            <th class="hidden-phone">所属区域</th>
            <th>发票开票日期</th>
            <th>月份</th>
            <!--<th>发票代码</th>
            <th>发票号码</th>-->
            <th>单位名称</th>
            <th>不含税价</th>
            <th>税额</th>
            <th>价税合计</th>
            <!--<th>开票内容</th>-->
            <th>经办人</th>
            <th>操作员</th>
            <th>审核状态</th>
            <th class="hidden-phone">审核人</th>
            <th class="hidden-phone">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr class="gradeX" th:each="data,stats:${dataList}">
<!--            <<th>合同号</th>-->
            <td>[[${data.contractNo}]]</td>
<!--            <th>项目名称</th>-->
            <td><a href="javascript:void(0)" class="popovers" data-trigger="hover" data-toggle="popover" data-placement="top"  th:data-content="${data.projectName}" th:if="${#strings.trim(data.projectName)} and ${#strings.length(#strings.trim(data.projectName))>=5}">[[|${#strings.substring(#strings.trim(data.projectName),0,5)}...|]]</a>
                <a href="javascript:void(0)" class="popovers" data-trigger="hover" data-toggle="popover" data-placement="top"  th:data-content="${data.projectName}" th:if="${#strings.trim(data.projectName)} and ${#strings.length(#strings.trim(data.projectName))<5}">[[${#strings.trim(data.projectName)}]]</a></td>
            <td class="hidden-phone">[[${data.company}]]</td>
            <td th:text="${#dates.format(data.invoiceDate, 'yyyy-MM-dd')}"></td>
            <td th:text="${#dates.format(data.invoiceDate, 'MM')}"></td>
<!--            <<th>发票代码</th>-->
<!--            <td>[[${data.invoiceCode}]]</td>-->
<!--            <th>发票号码</th>-->
<!--            <td>[[${data.invoiceNo}]]</td>-->
<!--            <th>单位名称</th>-->
            <td><a href="javascript:void(0)" class="popovers" data-trigger="hover" data-toggle="popover" data-placement="top"  th:data-content="${data.companyName}" th:if="${#strings.trim(data.companyName)} and ${#strings.length(#strings.trim(data.companyName))>=5}">[[|${#strings.substring(#strings.trim(data.companyName),0,5)}...|]]</a>
                <a href="javascript:void(0)" class="popovers" data-trigger="hover" data-toggle="popover" data-placement="top"  th:data-content="${data.companyName}" th:if="${#strings.trim(data.companyName)} and ${#strings.length(#strings.trim(data.companyName))<5}">[[${#strings.trim(data.companyName)}]]</a></td>
<!--            <th>不含税价</th>-->
            <td>[[${data.noTaxAmount}]]</td>
<!--            <th>税额</th>-->
            <td>[[${data.taxAmount}]]</td>
<!--            <th>价税合计</th>-->
            <td th:text="${data.noTaxAmount}+${data.taxAmount}"></td>
<!--            <th>开票内容</th>-->
<!--            <td><a href="javascript:void(0)" class="popovers" data-trigger="hover" data-toggle="popover" data-placement="top"  th:data-content="${data.content}" th:if="${#strings.trim(data.content)} and ${#strings.length(#strings.trim(data.content))>=3}">[[|${#strings.substring(#strings.trim(data.content),0,3)}...|]]</a>-->
<!--                <a href="javascript:void(0)" class="popovers" data-trigger="hover" data-toggle="popover" data-placement="top"  th:data-content="${data.content}" th:if="${#strings.trim(data.content)} and ${#strings.length(#strings.trim(data.content))<3}">[[${#strings.trim(data.content)}]]</a></td>-->
<!--            <th>经办人</th>-->
            <td>[[${data.managerName}]]</td>
<!--            <th>操作员</th>-->
            <td>[[${data.createUserName}]]</td>
<!--            <th>审核状态</th>-->
            <td class="hidden-phone" th:switch="${data.status}">
                <p th:case=0>待提交</p>
                <p th:case=1>待审核</p>
                <p th:case=2>审核通过</p>
                <p th:case=3>审核驳回</p>
                <p th:case="*"></p>
            </td>
<!--            <th class="hidden-phone">审核人</th>[[${data.status}]]-->
            <td class="hidden-phone">[[${data.auditUserName}]]</td>
            <td class="hidden-phone" >
                <button class="btn btn-xs btn-info" data-toggle="modal" data-target="#salesContractModal" th:data-rowid="${data.getId()}" th:data-method="update" th:if="${session.loginUser.id}==${data.createUserId} and (${data.status}==0 or ${data.status}==3)">编辑</button>
                <button class="btn btn-xs btn-info" data-toggle="modal" data-target="#salesContractModal" th:data-rowid="${data.getId()}" th:data-method="check" th:if="${session.loginUser.role}==1 and ${data.status}==1 and ${session.loginUser.department} == 'caiwu'">审核</button>
                <button class="btn btn-xs btn-info" data-toggle="modal" data-target="#salesContractModal" th:data-rowid="${data.getId()}" th:data-method="rollback" th:if="${session.loginUser.id}==${data.auditUserId} and ${data.status}==2">取消审核</button>
                <a href="#syslogModal" class="btn btn-xs btn-info" data-toggle="modal" th:data-rowid="${data.getId()}" th:data-table="salesIncomeConfirm">操作日志</a>
            </td>
        </tr>
        </tbody>
        </table>
        </div>
        </div>
        </section>
        </div>
        </div>
        </div>
        <!--body wrapper end-->
        </div>

    <!-- main content end-->
</section>

<div th:replace="common::common-script"></div>

<!--dynamic table-->
<script type="text/javascript" language="javascript" src="js/advanced-datatable/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/data-tables/DT_bootstrap.js"></script>
<!--dynamic table initialization -->
<script src="js/sales_contract_income_confirm.js" ></script>

</body>
</html>
