<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>销售合同执行状态</title>

  <!--dynamic table-->
  <link href="js/advanced-datatable/css/demo_page.css" rel="stylesheet" />
  <link href="js/advanced-datatable/css/demo_table.css" rel="stylesheet" />
  <link rel="stylesheet" href="js/data-tables/DT_bootstrap.css" />


    <div th:include="common::common-header"></div>
</head>

<body class="sticky-header">

<section>
    <div th:replace="common::common-leftmenu"></div>
    
    <!-- main content start-->
    <div class="main-content" >

        <div th:replace="common::common-headermenu"></div>

        <!-- page heading start-->
        <div class="page-heading">
            <!--<h3>
                销售合同信息
            </h3>-->
            <ul class="breadcrumb">
                <li>
                    <a href="#">销售模块</a>
                </li>
                <li class="active"> 合同执行状态 </li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
        <div class="row">
        <div class="col-sm-12">
        <section class="panel">
        <div class="panel-body">
        <div class="adv-table" style="overflow: auto">
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="salesContractModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                        <h4 class="modal-title">销售合同执行状态</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form" id="contract-form">
                            <div class="form-group">
                                <label for="contractNo" class="col-lg-2 col-sm-2 control-label">合同号</label>
                                <div class="col-lg-10">
                                    <input type="hidden" class="form-control" id="id" name="id">
                                    <input type="text" class="form-control" id="contractNo" name="contractNo" disabled="disabled">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="customerName" class="col-lg-2 col-sm-2 control-label">客户名称</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="customerName" name="customerName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="projectName" class="col-lg-2 col-sm-2 control-label">项目名称</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="projectName" name="projectName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="company" class="col-lg-2 col-sm-2 control-label">所属区域</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="company" name="company">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="contractStatus" class="col-lg-2 col-sm-2 control-label">合同执行状态</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="contractStatus" name="contractStatus">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="receivingTime" class="col-lg-2 col-sm-2 control-label">到货时间</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="receivingTime" name="receivingTime">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="receiving" class="col-lg-2 col-sm-2 control-label">签收单</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="receiving" name="receiving">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="acceptance" class="col-lg-2 col-sm-2 control-label">验收单</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="acceptance" name="acceptance">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="finalAcceptance" class="col-lg-2 col-sm-2 control-label">终验单</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="finalAcceptance" name="finalAcceptance">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="shelfLife" class="col-lg-2 col-sm-2 control-label">质保期限</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="shelfLife" name="shelfLife">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="shelfLifeStart" class="col-lg-2 col-sm-2 control-label">质保开始日</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="shelfLifeStart" name="shelfLifeStart">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="shelfLifeEnd" class="col-lg-2 col-sm-2 control-label">质保到期日</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="shelfLifeEnd" name="shelfLifeEnd">
                                </div>
                            </div>
                            <div class="form-group" id="rejectionContentDiv">
                                <label for="rejectionContent" class="col-lg-2 col-sm-2 control-label">驳回原因</label>
                                <div class="col-lg-10">
                                    <textarea rows="6" class="form-control" id="rejectionContent" name="rejectionContent"></textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10" id="saveDiv">
                                    <a href="#" class="btn btn-primary"  id="button-save">保存</a>
                                    <a href="#" class="btn btn-primary"  id="button-submit">提交审核</a>
                                </div>
                                <div class="col-lg-offset-2 col-lg-10" id="checkDiv">
                                    <a href="#" class="btn btn-primary" id="button-approved">通过</a>
                                    <a href="#" class="btn btn-primary" id="button-reject">驳回</a>
                                </div>
                                <div class="col-lg-offset-2 col-lg-10" id="rollbackDiv">
                                    <a href="#" class="btn btn-primary" id="button-rollback">取消审核</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <table  class="display table table-bordered table-striped" id="dynamic-table">
        <thead>
        <tr>
            <th>合同号</th>
            <th>客户名称</th>
            <th>合同项目名称</th>
            <th class="hidden-phone">所属区域</th>
            <th>合同执行状态</th>
            <th>到货时间</th>
            <th>签收单</th>
            <th>验收单</th>
            <th>终验单</th>
            <th>质保期限</th>
            <th>质保开始日</th>
            <th>质保到期日</th>
            <th>操作员</th>
            <th>审核状态</th>
            <th class="hidden-phone">审核人</th>
            <th class="hidden-phone">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr class="gradeX" th:each="data,stats:${dataList}">
<!--            <<th>合同号</th>-->
            <td>[[${data.contractNo}]]</td>
<!--            <th>客户名称</th>-->
            <td><a href="javascript:void(0)" class="popovers" data-trigger="hover" data-toggle="popover" data-placement="top"  th:data-content="${data.customerName}" th:if="${#strings.trim(data.customerName)} and ${#strings.length(#strings.trim(data.customerName))>=5}">[[|${#strings.substring(#strings.trim(data.customerName),0,5)}...|]]</a>
                <a href="javascript:void(0)" class="popovers" data-trigger="hover" data-toggle="popover" data-placement="top"  th:data-content="${data.customerName}" th:if="${#strings.trim(data.customerName)} and ${#strings.length(#strings.trim(data.customerName))<5}">[[${#strings.trim(data.customerName)}]]</a></td>
<!--            <th>项目名称</th>-->
            <td><a href="javascript:void(0)" class="popovers" data-trigger="hover" data-toggle="popover" data-placement="top"  th:data-content="${data.projectName}" th:if="${#strings.trim(data.projectName)} and ${#strings.length(#strings.trim(data.projectName))>=5}">[[|${#strings.substring(#strings.trim(data.projectName),0,5)}...|]]</a>
                <a href="javascript:void(0)" class="popovers" data-trigger="hover" data-toggle="popover" data-placement="top"  th:data-content="${data.projectName}" th:if="${#strings.trim(data.projectName)} and ${#strings.length(#strings.trim(data.projectName))<5}">[[${#strings.trim(data.projectName)}]]</a></td>
            <td class="hidden-phone">[[${data.company}]]</td>
            <td>[[${data.contractStatus}]]</td>
<!--            <th>到货时间</th>-->
            <td>[[${data.receivingTime}]]</td>
<!--            <th>签收单</th>-->
            <td>[[${data.receiving}]]</td>
<!--            <th>验收单</th>-->
            <td>[[${data.acceptance}]]</td>
<!--            <th>终验单</th>-->
            <td>[[${data.finalAcceptance}]]</td>
<!--            <th>质保期限</th>-->
            <td>[[${data.shelfLife}]]</td>
<!--            <th>质保开始日</th>-->
            <td>[[${data.shelfLifeStart}]]</td>
<!--            <th>质保到期日</th>-->
            <td>[[${data.shelfLifeEnd}]]</td>
<!--            <th>操作员</th>-->
            <td>[[${data.createUserName}]]</td>
<!--            <th>审核状态</th>-->
            <td class="hidden-phone" th:switch="${data.status}">
                <p th:case=0>待提交</p>
                <p th:case=1>待审核</p>
                <p th:case=2>审核通过</p>
                <p th:case=3>审核驳回</p>
                <p th:case="*"></p>
            </td>
<!--            <th class="hidden-phone">审核人</th>[[${data.status}]]-->
            <td class="hidden-phone">[[${data.auditUserName}]]</td>
            <td class="hidden-phone" >
                <button class="btn btn-xs btn-info" data-toggle="modal" data-target="#salesContractModal" th:data-rowid="${data.getId()}" th:data-method="update" th:if="(${session.loginUser.id}==${data.createUserId} or ${data.createUserId}==null) and (${data.status}==3 or ${data.status}==0 or ${data.status}==null)">编辑</button>
                <button class="btn btn-xs btn-info" data-toggle="modal" data-target="#salesContractModal" th:data-rowid="${data.getId()}" th:data-method="check" th:if="${session.loginUser.role}==1 and ${data.status}==1 and ${session.loginUser.department}=='jishu'">审核</button>
                <button class="btn btn-xs btn-info" data-toggle="modal" data-target="#salesContractModal" th:data-rowid="${data.getId()}" th:data-method="rollback" th:if="${session.loginUser.id}==${data.auditUserId} and ${data.status}==2">取消审核</button>
                <a href="#syslogModal" class="btn btn-xs btn-info" data-toggle="modal" th:data-rowid="${data.getId()}" th:data-table="salesStatus">操作日志</a>
            </td>
        </tr>
        </tbody>
        </table>
        </div>
        </div>
        </section>
        </div>
        </div>
        </div>
        <!--body wrapper end-->
        </div>

    <!-- main content end-->
</section>

<div th:replace="common::common-script"></div>

<!--dynamic table-->
<script type="text/javascript" language="javascript" src="js/advanced-datatable/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/data-tables/DT_bootstrap.js"></script>
<!--dynamic table initialization -->
<script src="js/dynamic_table_init.js"></script>
<script src="js/sales_contract_status.js" th:inline="javascript"></script>

</body>
</html>
